{
	"setTarget" : {
		"default" : {
			"default" : [
				"I'll take care of it.",
				"No problem.",
				"Understood!",
				"Got it."
			]
		},
		"floran" : {
			"default" : [
				"Floran lovesss the thrill!",
				"Tasty...",
				"Thisss be a good hunt."
			]
		},
		"glitch" : {
			"default" : [
				"Wary. Assessing surroundings.",
				"Threatening. Seek and destroy.",
				"Doubtful. Is that all there is?",
				"Indifferent. We shall carry on."
			]
		},
		"novakid" : {
			"default" : [
				"You yee'd your last haw, partner.",
				"All for a handful of pixels.",
				"I call your bluff.",
				"That's when you fold buddy.",
				"Guess you are the ugly, then."
			]
		}
	},
	"holdPosition" : {
		"default" : {
			"default" : [
				"I'll hold this position.",
				"I'll secure this area, captain!",
				"Standing guard, captain.",
				"Do you need me to stay here?",
				"Guard duty it is, then.",
				"Holding position!"
			]
		},
		"floran" : {
			"default" : [
				"Floran should not move from thiss sspot?",
				"Floran ssecure area.",
				"Floran will sstay, in case food comesss..."
			]
		},
		"glitch" : {
			"default" : [
				"Obliging. I will remain stationary, then.",
				"Patient. I can hold this position, captain.",
				"Amicable. I will secure this area for you, captain.",
				"Agreeable. Scanning for threats."
			]
		},
		"penguin" : {
			"default" : [
				"I'll just be here... Standing...",
				"Alright, boss, I'll secure this area.",
				"I can wait here and not move at all.",
				"I'll just stay here and watch for threats."
			]
		},
		"novakid" : {
			"default" : [
				"Alright, partner, I'll jus' stand my ground here.",
				"I can hold up here, lookin' for trouble.",
				"I'll jus' stay right here in case rascals show up."
			]
		}
	},
	"lounge" : {
		"default" : {
			"default" : [
				"Thanks, guess I'll take a break.",
				"Let's take a minute to relax.",
				"Sounds good."
			]
		},
		"floran" : {
			"default" : [
				"Floran have ssome resst now.",
				"Floran is happy to oblige."
			]
		},
		"glitch" : {
			"default" : [
				"Obliging. I will rest now.",
				"Patient. I will sit and wait for you.",
				"Amicable. Will you rest as well?",
				"Agreeable. Yes, resting sounds good."
			]
		},
		"penguin" : {
			"default" : [
				"I'll just be chilling...",
				"Alright, boss, I'll take a break.",
				"I can be all day here.",
				"I'll just stay here for now."
			]
		},
		"novakid" : {
			"default" : [
				"Alright, partner, thinking the same thing.",
				"Don't mind if I do!",
				"Glad you agree partner."
			]
		}
	},
	"operate" : {
		"default" : {
			"default" : [
				"I'll get that.",
				"Sure thing.",
				"Just give me a second.",
				"I'll get that for you.",
				"No problem.",
				"Ok.",
				"Waaait for it..."
			]
		},
		"floran" : {
			"default" : [
				"Floran likess shinies.",
				"Yess",
				"Ssure",
				"What doess it do?",
				"Pretty"
			]
		},
		"glitch" : {
			"default" : [
				"Obliging. At once!",
				"Intrigued. Activating device.",
				"Neutral. Acknowledged.",
				"Agreeable. Interfacing now.",
				"Intrigued. We shall see."
			]
		}
	}
}