{
  "converse" : {
    "apex" : {
      "default" : [
        "I owe you so much, my friend. I only hope to be able to repay you over time.",
        "You have given me a taste of true freedom. For that, I am always thankful.",
        "I see you have a task to take care of. Please return quickly and safely."
      ]
    },
    "avian" : {
      "default" : [
        "Shall we find a new destination amongst the stars soon? There's still so much to see!",
        "Soaring amongst the stars with you by my side... It's all I've dreamed of!",
        "If you need me to stay here, that's okay- but I'll be missing you until you return!"
      ]
    },
    "floran" : {
      "default" : [
        "<selfname> isss glad to have such a strong hunting partner!",
        "<selfname> isss sstill here for you!",
        "Take <selfname> out again sssoon! Ssship is too sstuffy!"
      ]
    },
    "glitch" : {
      "default" : [
        "Awestruck. I still find it hard to believe I get to travel the stars with you!",
        "Excited. Let's try to help even more people today!",
        "Cautious. I will watch the ship after you depart, but please be careful while you're away."
      ]
    },
    "default" : {
      "default" : [
        "We're really flying through space on an adventure together, huh? I can hardly believe it!",
        "What sort of trouble are we gonna run into next? I hope it's space pirates!",
        "I had a dream that I found a coffee machine hidden in one of the wall panels here - if I find it, I'll bring you a cup!",
        "Don't worry, I'll keep you safe while we're on the ground!",
        "When you get back, you gotta tell me about everything you saw down there!"
      ]
    },
    "hylotl" : {
      "default" : [
        "Have you picked up on the haikus in some of my speech? I've been writing them for you!",
        "You give me such inspiration - I just hope I can return the favor whenever possible!",
        "When you next return, I will be here to help you on your endeavors!"
      ]
    },
    "novakid" : {
      "default" : [
        "I reckon I've been glowin' a little brighter ever since you brought me on board, partner!",
        "The funny thing about these here boots partner, is that they're made for walkin'. And that's just what they'll do!",
        "C'mon partner, I'm itchin' for some action! Next time bring me with 'ya!"
      ]
    }
  }
}