{
	"medicHeal" : {
		"default" : {
			"default" : [
				"You look like you could use some aid!",
				"Let me help you out!",
				"Looks like you could use my assistance!",
				"I can treat you! Come to me, quickly!",
				"Stand still and I'll treat you!",
				"Hold still...",
				"Don't worry I'll take care of you.",
				"Providing medical care!"
			]
		},
		"floran" : {
			"default" : [
				"Floran hasss things to help out!",
				"Floran can help out!",
				"Floran hasss things to help!",
				"Floran can mend your woundss!",
				"Tough hunt, let Floran treat your woundss.",
				"Floran hasss you covered."
			]
		},
		"glitch" : {
			"default" : [
				"Eager. I can help you out!",
				"Excited. Perhaps you could do with some healing?",
				"Helpful. This should heal you!",
				"Helpful. Take this, it will help!",
				"Optimistic. This will get you back into the fight.",
				"Calm. This shall restore your condition.",
				"Intrigued. Administering aid. Will you be ok?",
				"Helpful. Allow me to treat your wounds."
			]
		},
		"novakid" : {
			"default" : [
				"Here, I'll stitch you back together, partner.",
				"Yer lookin' a little roughed up. Let me help.",
				"Here partner, this should fix you up.",
				"Hold on partner, you need medical attention."
			]
		}
	},
	"chemistStim" : {
		"default" : {
			"default" : [
				"Use this!",
				"This will help.",
				"Hold still.",
				"Here you go."
			]
		},
		"floran" : {
			"default" : [
				"Floran iss glad to help!",
				"Floran hass this for you!",
				"Floran hass you covered."
			]
		},
		"glitch" : {
			"default" : [
				"Eager. Hope this is what you want.",
				"Excited. This will enhance your performance!",
				"Intrigued. Would you like a boost?",
				"Helpful. May this serve you well!"
			]
		},
		"novakid" : {
			"default" : [
				"Here, have some of this.",
				"Yer lookin' like you could use some assistance.",
				"Here partner, this should help.",
				"Hold on partner, have this."
			]
		}
	},
	"blueStim" : {
		"default" : {
			"default" : [
				"Let me give you a boost real quick!",
				"Ready to fly?",
				"You are going to feel a lot lighter with this.",
				"Incoming ionic polymeric gel!"
			]
		},
		"floran" : {
			"default" : [
				"Floran sendsss you high now!",
				"Floran hass blue sshot for you!",
				"Floran helpsss you reach higher!"
			]
		},
		"glitch" : {
			"default" : [
				"Eager. I will help you reach higher!",
				"Excited. This will enhance your upwards momentum!",
				"Intrigued. Would you like to jump higher?",
				"Helpful. Administering Ionic polymeric gel!"
			]
		},
		"novakid" : {
			"default" : [
				"Reach for the sky, partner!",
				"Yer lookin' like you could use some... blue gel...",
				"Looks like yer going for the skies!",
				"Hold on partner, this will get you high!"
			]
		}
	},
	"greenStim" : {
		"default" : {
			"default" : [
				"Time to run like hell!",
				"On your marks, get set, go!",
				"You are going to be a lot faster with this.",
				"Incoming metabolic enhancer!"
			]
		},
		"floran" : {
			"default" : [
				"Floran sendsss you really far now!",
				"Floran hass green sshot for you!",
				"Floran helpsss you run!"
			]
		},
		"glitch" : {
			"default" : [
				"Eager. I will help you get very far!",
				"Excited. This will enhance your forward momentum!",
				"Intrigued. Would you like to run faster?",
				"Helpful. Administering metabolic enhancer!"
			]
		},
		"novakid" : {
			"default" : [
				"Run like the wind, partner!",
				"Yer lookin' like you could use some... green stuff...",
				"Time for a race!",
				"No need for horses!"
			]
		}
	},
	"orangeStim" : {
		"default" : {
			"default" : [
				"Time to get serious!",
				"Ready to fight?",
				"You are going to feel a lot stronger with this.",
				"Incoming adrenal stimulant!"
			]
		},
		"floran" : {
			"default" : [
				"Floran iss ready for the hunt!",
				"Floran hass orange sshot for you!",
				"Floran helpsss you fight!"
			]
		},
		"glitch" : {
			"default" : [
				"Eager. I will help your combat peformance!",
				"Excited. This will enhance your fighting capabilities!",
				"Intrigued. Would you like to fight better?",
				"Helpful. Administering adrenal stimulant!"
			]
		},
		"novakid" : {
			"default" : [
				"Time to kick ass, partner!",
				"Yer lookin' like you could use some... stimulation...",
				"You'll strike fear in those rascals!",
				"Time to get shootin', partner!"
			]
		}
	},
	"yellowStim" : {
		"default" : {
			"default" : [
				"Have this disposable light!",
				"Let me light the way.",
				"Ready for the caves!",
				"Now's your time to shine!"
			]
		},
		"floran" : {
			"default" : [
				"Floran makesss you glow!",
				"Floran hass light for you!",
				"Floran helpsss you ssee!"
			]
		},
		"glitch" : {
			"default" : [
				"Eager. I will help you see in the dark!",
				"Excited. This will enhance your vision!",
				"Intrigued. Would you like some light?",
				"Helpful. Deploying light source!"
			]
		},
		"novakid" : {
			"default" : [
				"Into the darkness, partner!",
				"Yer lookin' like you could use some light.",
				"Looks like yer shining!",
				"Hold on partner, take this light!"
			]
		}
	}
}
